<section class="reset-password-page">
  <div class="reset-password-card">
    <div class="reset-password">
      <h2 class="title">Create a New Password</h2>
      <p class="desc">Create a new strong password for your account.</p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <div class="field-group">
          <label for="newPassword">
            New Password <span class="req">*</span>
          </label>
          <p-password
            inputId="newPassword"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            styleClass="w-full"
            inputStyleClass="w-full"
            placeholder="New password"
          />
          @if (resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.['required']) {
            <small class="error-message">Password is required</small>
          }
          @if (
            resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.['passwordRules']
          ) {
            <small class="error-message">{{
              resetPasswordForm.controls.password.errors?.['passwordRules']
            }}</small>
          }
        </div>

        <div class="field-group">
          <label for="confirmNewPassword">
            Confirm New Password <span class="req">*</span>
          </label>
          <p-password
            inputId="confirmNewPassword"
            formControlName="confirmPassword"
            [toggleMask]="true"
            [feedback]="false"
            styleClass="w-full"
            inputStyleClass="w-full"
            placeholder="Confirm new password"
          />
          @if (
            resetPasswordForm.controls.confirmPassword.touched &&
            resetPasswordForm.controls.confirmPassword.errors?.['required']
          ) {
            <small class="error-message">Please confirm your password</small>
          }
          @if (resetPasswordForm.touched && resetPasswordForm.errors?.['mismatch']) {
            <small class="error-message">Passwords do not match</small>
          }
        </div>

        <div class="actions">
          <p-button
            label="Reset password"
            styleClass="w-full"
            type="submit"
            [loading]="loading()"
            [disabled]="loading()"
          />
        </div>
      </form>

      @if (validationFailed()) {
        <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">{{ errorMessage() }}</p-message>
      }

      <p class="create-account-text">
        Don&rsquo;t have an account? <a routerLink="/create-account">Create yours</a>
      </p>
    </div>
  </div>
</section>
