.main-layout {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.main-layout__sidebar {
  width: 20%;
} 

.main-layout__content {
  width: 80%;
  padding: 1rem;
}

.main-layout__router-content {
  margin-top: 1rem;
  overflow: auto;
}

@media (max-width: 992px) {
  .main-layout {
    flex-direction: column;
  }

  .main-layout__sidebar,
  .main-layout__content {
    width: 100%;
  }
}
