<section class="forgot-password-page">
  <div class="forgot-password-card">
    <ng-container *ngIf="step === 'email'">
      <app-user-email (next)="onEmailNext($event)"></app-user-email>
    </ng-container>

    <ng-container *ngIf="step === 'resetLink'">
      <app-reset-link
        [email]="email"
        (back)="onResetLinkBack()"
      ></app-reset-link>
    </ng-container>

    <ng-container *ngIf="step === 'resetPassword'">
      <app-reset-password></app-reset-password>
    </ng-container>
  </div>
</section>