<article class="exam-card">
  <div class="exam-card__image-wrap">
    <img class="exam-card__image" [src]="exam().image" [alt]="exam().title" />
  </div>

  <div class="exam-card__content">
    <div class="exam-card__head">
      <h3 class="exam-card__title">{{ exam().title }}</h3>
      <div class="exam-card__meta">
        <span class="exam-card__meta-item">
          <i class="pi pi-question-circle"></i>
          {{ exam().questionsCount }} Questions
        </span>
        <span class="exam-card__meta-item">
          <i class="pi pi-clock"></i>
          {{ exam().duration }} minutes
        </span>
      </div>
    </div>

    <p class="exam-card__description">{{ exam().description }}</p>

    <a class="exam-card__action" [routerLink]="'/diplomas/exams/questions/' + exam().id">
      START
      <i class="pi pi-arrow-right"></i>
    </a>
  </div>
</article>