/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@import 'primeicons/primeicons.css';

:root {
    --primary-color: #007bff; 
    --primary-color-text: #1F2937;
    --secondary-color-text: #374151;
    --medium-color-text: #6B7280;
    color-scheme: light !important;

}

body {
    background-color: #fff;
}

.p-button {
    color: #fff !important;
    border-radius: 0 !important;
}

.p-button-outlined {
    border-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
    background: #EFF6FF !important;
}

.p-inputtext {
    background: white !important;
    border-radius: 0 !important;
    border: 1px solid #E5E7EB !important;
    color: #9CA3AF !important;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
  }

.error-message {
color: #ef4444;
}

.p-inputtext.p-invalid {
border-color: #ef4444 !important;
}

.p-message-error {
    border-radius: 0 !important;
    outline-color: #ef4444 !important;
    .p-message-content {
        position: relative;
        justify-content: center;
        .p-message-icon {
            position: absolute;
            top: -25%;
            background: white;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        .p-message-text {
            font-weight: 400 !important;
        }
    }
}


